@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

html {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    height: 100%;
    width: 78%;
    margin: 0 auto;
}
.container:before {
    content: '';
    height: 100%;
    float: left;
}

#header {
    margin-top: 16px;
    width: 100%;
    height: 220px;
    white-space: nowrap;
}

#header h1 {
    text-align: center;
    font-size: 72px;
    font-family: 'Dancing Script', cursive;
}

#header hr {
    width: 460px;
}

#header ul {
    list-style-type: none;
}

#header ul li {
    display: inline;
    margin-right: 20px;
    font-size: 14pt;
}

#header ul li a {
    text-decoration: none;
    color: inherit;
    font-family: 'Calligraffitti', cursive;
    font-size: 18px;
}

#header #menu {
    width: 440px;
    margin: 0 auto;
}

#wrapper {
    position: absolute;
    height: 800px;
    width: 100%;
}

#wrapper > .rightSide {
    height: 1200px;
}

.content
{
    position: relative;
    z-index: 1;
}
    .content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.leftSide {
    overflow: auto;
    width: 76%;
    border: 1px solid #6F5CCD;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.rightSide {
    float: right;
    width: 23%;
}

#imgJuliaRightSide {
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #6F5CCD;
}

#rightSideContent {
    width: 300px;
    margin: 0 auto;
}

#rightSideContent > h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

#rightSideContent > h3 {
    font-family: 'Calligraffitti', cursive;
}

.burgundyButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #6F5CCD;
	-webkit-box-shadow:inset 0px 1px 0px 0px #6F5CCD;
	box-shadow:inset 0px 1px 0px 0px #6F5CCD;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6F5CCD), color-stop(1, #5C94CD));
	background:-moz-linear-gradient(top, #6F5CCD 5%, #5C94CD 100%);
	background:-webkit-linear-gradient(top, #6F5CCD 5%, #5C94CD 100%);
	background:-o-linear-gradient(top, #6F5CCD 5%, #5C94CD 100%);
	background:-ms-linear-gradient(top, #6F5CCD 5%, #5C94CD 100%);
	background:linear-gradient(to bottom, #6F5CCD 5%, #5C94CD 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F5CCD', endColorstr='#5C94CD',GradientType=0);
	background-color:#6F5CCD;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #6F5CCD;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #6F5CCD;
    width: 300px;
}
.burgundyButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5C94CD), color-stop(1, #6F5CCD));
	background:-moz-linear-gradient(top, #5C94CD 5%, #6F5CCD 100%);
	background:-webkit-linear-gradient(top, #5C94CD 5%, #6F5CCD 100%);
	background:-o-linear-gradient(top, #5C94CD 5%, #6F5CCD 100%);
	background:-ms-linear-gradient(top, #5C94CD 5%, #6F5CCD 100%);
	background:linear-gradient(to bottom, #5C94CD 5%, #6F5CCD 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C94CD', endColorstr='#6F5CCD',GradientType=0);
	background-color:#5C94CD;
}
.burgundyButton:active {
	position:relative;
	top:1px;
}

#instagram {
    margin-top: 36px;
    width: 100%;
    height: 300px;
}

#instagram h1 {
    font-size: 28pt;
    margin-left: 56px;
}

#instafeed {
    width: 80%;
}

.linkSeparator {
    font-size: 40pt;
    position: relative;
    bottom: 16px;
    left: 12px;
}

/*blogpost*/
.blogpost {
    overflow: hidden;
}
.blogpost p, .blogpost h4 {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 30px;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
}
.blogpost p img {
    float: left;
    margin-right: 20px;
}
.blogpost #introlink {
    text-decoration: none;
    color: inherit;
}

#socialSection {
    width: 310px;
}

#introlink {
    font-family: 'Calligraffitti', cursive;
    font-size: 24px;
}

iframe {
    overflow: hidden;
    border: none;
    height: 100%;
}

.postfooter {
    margin: 0 auto;
    margin-top: 60px;
    width: 90%;
}

.postfooter hr {
    background-color: #6F5CCD;
    height: 1px;
    border: none;
}

.postfooter #nextpost {
    display: inlinep-block;
    float: right;
    cursor: pointer;
}

.postfooter #prevpost {
    display: inline-block;
    text-align: left;
    cursor: pointer;
}
